<div class="container">

<div *ngIf="!voteService.isLoggedIn" >
  <h2>Please Login!</h2> 
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" required placeholder="username" [(ngModel)]="userName" name="name" #name="ngModel"> 
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">Name is required.</div>     
      </div>   
    </div>
    <div class="form-group">
      <label for="psd">Password:</label>
      <input type="password" class="form-control" id="psd" required minlength="6" placeholder="password" [(ngModel)]="userPassword" name="password" #password1="ngModel">
      <div *ngIf="password1.invalid && (password1.dirty || password1.touched)" class="alert alert-danger">
          <div *ngIf="password1.errors.required">Password is required.</div>
          <div *ngIf="password1.errors.minlength">Password must be at least 6 characters long.</div>     
      </div>    
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
  </form> 
</div>

<div *ngIf="voteService.isLoggedIn">
  <h2>You have Logged in! Dear {{voteService.user.name}}!</h2> 
  <p>
    <button (click)="logout()" >Logout</button> 
  </p>
</div>

</div>


